@charset "utf-8";
/* CSS Document */




#wpsc_shopping_cart_container h4 {
	font-size:15px;
	margin-top:17px;
	margin-bottom:6px;
	
}


table.wpsc_checkout_table label{
	vertical-align: top;
	vertical-align:text-top;
	
}



#footer {
	padding-top: 30px;
	background-image: url(../images/footer.jpg);
	background-repeat:repeat-x;
	/* color:#789aa3; */
	color: #336666;
	font-size:12px;
	height:200px;
}

#footer a:link, #footer a:visited {
	/*color:#789aa3; */
	color: #336666;
}


#footer-wrapper {
	margin: 0 auto;
	width: 985px;
	height:100%;
	}






#menu-footer-menu ul{
	margin-top:0px;
	padding-top:0px;
	
}
#menu-footer-menu ul ul{
	visibility:hidden;
	display:none;
}

#menu-footer-menu li{
	list-style:none;
	float:left;
	padding-left:6px;
	padding-right:3px;
	width:170px;
	
	margin:0px;
	padding:0px;
	height:15px;
	
}
#menu-footer-menu li:first-child{
	
	
}



