@charset "utf-8";
/* CSS Document */

.loggin_warning{
	font-size:11px; color:#f00;
}

#pdflinks ul li {
	margin-top:4px;
}
#pdflinks ul li a {
	font-size:12px;
	background-image:url(../images/icons/pdf.png);
	background-repeat:no-repeat;
	background-position:0px 1px;
	padding-left:17px;
	display:block;
	color:#676767;
}
#pdflinks ul li a:hover {
	color:#000;
}
#morelink {
	float:right;
	padding-top:2px;
	padding-bottom:4px;
}
#social-area {
	clear:both;
	width:314px;
	float:right;
	margin-top:21px;
	text-align:left;
}
#blue-line {
	height:1px;
	border-top: 1px solid;
	border-color:#D8EAF1;
	clear:both;
}
#hot-comment {
	width:41px;
	height:41px;
	float:left;
	margin-top:-4px;
	margin-left:0px;
	color: #109f54;
}
#hot-inside {
	padding:7px;
}
#hot-link a:link, #hot-link a:visited {
	margin-bottom:8px;
	color: #666;
	text-decoration:none;
	background-color:#f8f8f0;
	border:1px solid #dbdbce;
	border-color:#E4E4DC;
}
#hot-link a:hover {
	background-color:#EDE6D3;
	text-decoration:none;
	color: #666;
}
#hot-link p {
	margin-bottom: 0px;
	margin-top:0px;
	font-size:11px;
	padding-bottom:0px;
	line-height:normal;
}
#hot-download-icon {
	height:34px;
	width:26px;
	position:absolute;
	margin-top:-6px;
	margin-left:4px;
	z-index:4;
}
#hot-download {
	float:left;
	margin-top:-4px;
	margin-left:-5px;
	color: #109f54;
	position:absolute;
	z-index:3;
	line-height:19px;
	
}
a:link #hot-download, a:visited #hot-download {
	background-color:#f8f8f0;
	border:1px solid #dbdbce;
	padding-right:20px;
	padding-left:39px;
	padding-top:3px;
	padding-bottom:2px;
	line-height:20px;
	color: #2d88bf;
}
a:hover #hot-download {
	background-color:#EDE6D3;
	color: #2B80B3;
}
#news-date {
	font-size:10px;
	font-style:italic;
	margin-top:0px;
	margin-bottom:15px;
	color: #109f54;
}
/*-----Hotside-------*/


#hotside {
	padding-bottom:10px;
	padding-top:10px;
	/*background-image: url(../images/side-spacer.png);*/
	background-position:bottom;
	background-repeat:no-repeat;
	border-bottom: 1px solid #CCC;
	padding-right:4px;
}
a:link #hotside, a:visited #hotside, a:link #middleside, a:visited #middleside {
	/*	background-image: url(../images/diag.png);*/

	/*background-position:0px 0px;*/
}
a:hover #hotside, a:hover #middleside {
	/*	background-image: url(../images/diag.png);*/
/*	background-color:#EFF3F5;
	background-position:0px -150px;*/
}

a:hover .homenews {
	/*	background-image: url(../images/diag.png);*/
	background-color:#e1eef2;	
}


#hotside p {
	color: #4B4B4B;
	text-decoration:none;
	font-size:11px;
	line-height:16px;
	margin-bottom:0px;
	margin-top:-4px;
}
#hot-title {
	font-size:14px;
	color:#017337;
}
#hot-date {
	font-size:10px;
	margin-top:-4px;
	margin-bottom:0px;
	color: #109f54;
}
#spacer-add {
	height:10px;
}
/*-----Middle-------*/
#middle-header {
	font-size:13px;
	padding-top:3px;
	padding-bottom:3px;
	border-bottom:1px solid #AED3E1;
	border-top:1px solid #D0E6EE;
	border-left:1px solid #bfdfeb;
	border-right:1px solid #bfdfeb;
	color:#284460;
	padding-left:4px;
	background-image: url(../images/blue-bar.png);
	font-weight:bold;
	background-color:#bfdfeb;
}
#middleside {
	padding-bottom:10px;
	padding-top:10px;
	border-bottom: 1px solid;
	border-color:#D8EAF1;
	padding-right:4px;
	
}
#middleside p {
	color: #757575;
	text-decoration:none;
	font-size:11px;
	line-height:16px;
	margin-bottom:0px;
	margin-top:2px;
}
#middle-title {
	font-size:14px;
	color:#284460;
}
#middle-date {
	font-size:12px;
	width:130px;
	float:left;
	margin-bottom:0px;
	color: #4F83AA;
	padding-left:5px;
}
#middle-main {
	width:330px;
	float:left;
}

#middle-main2 {
	
	float:left;
}
/*-----Subpaes-------*/

 #sub-back ul#menu-home-sub-menu  li:first-child a{
	border-top:1px solid #d8e8f0;
	
}




#sub-back ul li a {
	font-size:15px;
	padding-top:3px;
	padding-bottom:2px;
	background-image: url(../images/arrow-blue.png);
	background-repeat:no-repeat;
	background-position:0px 6px;
	display:block;
	padding-left:19px;

	background-color:#d8e8f0;
	border:1px solid #d8e8f0;
	border-bottom:1px solid #bfdfeb;
	border-top:1px solid #F1F7FA;
}



#calltoaction  ul li a {
	font-size:17px;
	color:#FFF;

	text-align:right;
	list-style: none;
	display:block;
	margin-bottom:-2px;
	
}

#calltoaction  ul li a:hover {
color: #CCC;


	
}

#calltoaction ul li  {
	padding-right:50px;
	
	margin-bottom:12px;
	list-style: none;
	background-image: url(../images/call.png);
	background-repeat:no-repeat;
	background-position:99% 40%;

	text-shadow: #333 1px 1px 2px;

}


#calltoaction {
	color: #D8DAD6;
	font-size:11px;
	position:absolute;
	text-align:right;
	margin-left:540px;
	margin-top:26px;
	width:450px;
	float:right;
	z-index:5;

}



#calltoaction .description{
	clear:both;
	font-size:11px;
}


#subtit {
	font-size:15px;
	padding-top:4px;
	padding-bottom:4px;
	background-repeat:no-repeat;
	background-position:0px 7px;
	display:block;
	padding-left:0px;
	background-color:#d8e8f0;
	border:1px solid #d8e8f0;
	border-bottom:1px solid #bfdfeb;
	border-top:1px solid #d8e8f0;
	color: #4F83AA;
	color:#1f3449;
	font-weight:bold;
}






.submenu-widget ul li.menu-item-1410 a {
	border-top:1px solid #d8e8f0;
}


#subpage-list ul li#lastlist a {
	border-bottom:1px solid #d8e8f0;
}
#subpage-list ul li a:hover, #subpage-list ul li.s-active a {
	background-color:#e1eef2;
	border:1px solid;
	border-color:#bfdfeb;
	border:1px solid #d8e8f0;
	border-bottom:1px solid #bfdfeb;
	border-top:1px solid #F1F7FA;
}
#subpage-list ul ul {
	margin-top:0px;
	margin-bottom:0px;
}
#subpage-list ul ul li {
	padding-top:0px;
	padding-bottom:0px;
	list-style:none;
	font-size:12px;
}
#subpage-list ul ul li a {
	font-size:12px;
}
#sub-back {
	background-color:#d8e8f0;
	border:1px solid #FFF;
	/*background-image: url(../images/side-back.png);*/
	background-position:left top;
	padding:10px;
	background-repeat:repeat-x;
	font-family: TradeGothic, sans-serif;
}
#sub-back-wrapper {
	border-bottom:1px solid #AED3E1;
	border-top:1px solid #D0E6EE;
	border-left:1px solid #bfdfeb;
	border-right:1px solid #bfdfeb;
	margin-bottom:12px;
}
#sub-back a {
	color:#1f3449;
}
#warning-box-wrapper {
	border:1px solid #e6db55;
	margin:10px 0px 10px 0px;
}
#warning-box {
	background-color:#ffffe0;
	color:#4B4B4B;
	border:1px solid #fff;
	padding:4px;
	font-size:12px;
}
#links-area h2 {
	font-size:14px;
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:1px solid #AED3E1;
	border-top:1px solid #D0E6EE;
	border-left:1px solid #bfdfeb;
	border-right:1px solid #bfdfeb;
	color:#284460;
	padding-left:4px;
	background-image: url(../images/blue-bar.png);
	font-weight:bold;
	background-color:#bfdfeb;
	margin-top:7px;
}
#links-area {
	font-size:11px;
	line-height:13px;
}
#links-area span {
	margin-top:20px;
 margin-bottom:
}
#links-area a {
	font-size:13px;
}
#links-area ul li {
	list-style:none;
	padding-left:0px;
	margin-left:0px;
}
#links-area ul {
	padding-left:0px;
	margin-left:0px;
	list-style:none
}
















/*amember menu tabs*/



.menu-tabs {
	text-align:left;
	margin-bottom:1.5em;
	padding:0em;
	
}
.menu-tabs > ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #e5e5d0;
}
.menu-tabs > ul li {
	float:left;
	margin:0;
	padding:0 0.4em;
	list-style: none;
	
}
.menu-tabs > ul li.last {
	clear:both;
	float:none
}
.menu-tabs a {
	color: black;
	font-weight:normal;
	font-size:9pt;
	display: block;
	padding: 5px 5px 7px;
	white-space: nowrap;
	
}
.menu-tabs a.expandable {
	padding-right: 20px;
}
.menu-tabs > ul li.active a {
	color: #575757;
}
.menu-tabs div.tab {
	position: relative;
	
	border: 1px solid #e5e5d0;
	margin-top:5px;
	margin-bottom:-1px;
	z-index:5;
	background-color:#f1f1f1;
}
.menu-tabs > ul li.active div.tab {
	background:#f8f8f0;
	border-bottom-color:#f8f8f0;
}
.menu-tabs div.arrow {
	width: 7px;
	height: 5px;
	overflow: hidden;
	float: right;
	margin: 8px;
	background:url('./arrow.png') no-repeat left;
}
.menu-tabs > ul li.active div.arrow {
	background:url('./arrow.png') no-repeat right;
}
.menu-tabs > ul li:hover div.tab {
	background:#f8f8f0;
	border-bottom-color:#f8f8f0;
}
.menu-tabs > ul li:hover div.submenu {
	display:block
}
.menu-tabs div.submenu {
	display:none;
	position:absolute;
	border:1px solid #e5e5d0;
	background-color: #f8f8f0;
	padding:0;
}
.menu-tabs div.submenu ul {
	margin:0;
	padding:0;
}
.menu-tabs div.submenu li {
	display: list-item;
	float: none;
	list-style: none;
	padding: 0;
}
.menu-tabs div.submenu li a {
	border: none;
	padding: 5px;
	margin: 0;
	display: block;
	background: #f1f1f1;
}
.menu-tabs div.submenu li a:hover {
	background: white;
}









