
dd.mandatory, div.required {
	border-color:#AA0000 -moz-use-text-color -moz-use-text-color;
	border-right:0 none;
	border-style:solid none none;
	border-width:2px 0 0;
	color:#AA0000;
	font-weight:bold;
	margin-left:10em;
	padding:0.25em 0;
	width:28.25em;
}
div.alert, div.success {
	border-left:4px solid;
	font-weight:bold;
	margin:0 0 1.5em;
	padding:0 1em;
}
div.alert {
	color:#AA0000;
}
div.alert ul, div.success ul {
	margin:1em 0;
	padding-left:1.5em;
}
div.buttons {
	border-top:2px solid #AAAAAA;
	padding-top:0.5em;
}
div.buttons div.left {
	float:left;
}
div.buttons div.right {
	float:right;
}
div.event h3, div.event p, div.press h3, div.press p {
	margin-left:32px;
}
div.event h3.title, div.event p.location {
	margin-bottom:0;
	margin-top:0;
}
div.intro p, p.intro {
	color:#888888;
	font-size:105% !important;
}
div.required {
	margin-left:0;
	margin-top:1em;
}
div.required p {
	margin:0;
}
div.success {
	color:#00AA00;
}
dl.clean dd {
	border:0 none !important;
}
dl.details dd, form dd {
	line-height:normal !important;
	margin:0;
	padding:0.25em 0 0.25em 10em;
}
dl.details dt, form dt {
	clear:left;
	float:left;
	font-weight:bold;
	padding:0.25em 0;
}
dl.faq {
	margin-left:1em;
}
dl.faq dd {
	margin:0 0 2em 1.5em;
}
dl.faq dt {
	cursor:pointer;
	font-weight:bold;
	margin:0 0 1em;
}
dl.faq dt span {
	color:#666666;
}
dl.faq dt:hover span {
	color:#772277;
	text-decoration:underline;
}
dl.faq img {
	vertical-align:middle;
}
dl.full dd {
	margin:0 0 1em;
	padding:0;
	width:100%;
}
dl.short dd {
	padding-left:8em;
}
form {
	margin:0;
}
form dd.submit {
	border:0 none;
	margin-top:1em;
}
form dl table {
	font-size:140%;
}

dd label, h2 label {
	padding-left:0;
}
p + h2, table + h2 {
	margin:2em 0 0.5em;
}

hr {
	border-color:#AAAAAA -moz-use-text-color -moz-use-text-color;
	border-right:0 none;
	border-style:solid none none;
	border-width:1px 0 0;
	height:1px;
	margin-bottom:1em;
}

input[readonly] {
	background:none repeat scroll 0 0 #EEEEEE !important;
}
input[type="radio"] {
	margin:0 3px;
}
input.fill, select.fill, textarea.fill {
	border-color:#AAAAAA #CCCCCC #CCCCCC #AAAAAA;
	border-style:solid;
	border-width:1px;
	font:small arial, helvetica, sans-serif;
	width:26em;
}
input.fill:focus, select.fill:focus, textarea.fill:focus {
	background:none repeat scroll 0 0 #FFFFDD;
}
input.date, input.zipcode {
	width:6em;
}
input.postal, input.quantity {
	width:3em;
}
input.quantity {
	text-align:right;
}
input.w12h, select.w12h, textarea.w12h {
	width:3.25em !important;
}
input.w25, select.w25, textarea.w25 {
	width:6.5em !important;
}
input.w50, select.w50, textarea.w50 {
	width:13em;
}
label {
	font-weight:bold;
	padding-left:0.7em;
}
th label {
	padding-left:0;
}
dd.file a {
	display:block;
	float:left;
	width:15em;
}
label.required {
	padding-left:0;
}

p.more {
	margin:10px 2px 2px;
}
p.more a {
	background:none repeat scroll 0 0 #77BB44;
	color:#FFFFFF;
	display:block;
	font-weight:bold;
	padding:2px 5px;
	text-align:right;
}
p.more a:hover {
	background:none repeat scroll 0 0 #AACC88;
	text-decoration:none;
}
p.right {
	text-align:right;
}
span.required {
	color:#FF0000;
}
span.required + label {
	padding-left:0;
}
table.listings {
	border-collapse:collapse;
	margin-bottom:1em;
	width:100%;
}
table.listings strong {
	color:#444444 !important;
}
table.listings td, table.listings th {
	padding:0.25em;
}
table.listings td {
	padding:0.4em;
}
table.listings.expanded td {
	padding:0;
}
table.listings th {
	background:none repeat scroll 0 0 #888888;
	color:#FFFFFF;
	text-align:left;
}
table.listings.expanded th {
	background:none repeat scroll 0 0 #FFFFFF;
	border-bottom:1px solid;
	color:inherit;
	padding:0.5em 0;
	text-align:left;
	text-transform:uppercase;
}
table.listings th:hover {
	background:none repeat scroll 0 0 #999999;
}
table.listings.expanded th:hover {
	background:none repeat scroll 0 0 transparent;
	color:#000000;
}
table.listings td {
	border-bottom:1px solid #888888;
}
table.listings.expanded td {
	border-bottom-style:dotted;
	line-height:1.5;
	padding:1em 0;
}
table.name td {
	padding-right:9px;
}
table.name th {
	text-align:left;
}
td.more {
	border-color:-moz-use-text-color #DDDDDD #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-style:none solid solid;
	border-width:0 1px 1px;
}
td.store p.more a {
	background:none repeat scroll 0 0 #D3E9BF;
	color:#007700;
	text-align:center;
}
td.store p.more a:hover {
	background:none repeat scroll 0 0 #AACC88;
	color:#FFFFFF;
}
tr.even {
	background:none repeat scroll 0 0 #EEEEEE;
}
tr.workshop td {
	padding-bottom:0.5em;
}
#main dd, #main dt, #main ol, #main p, #main td td, #main td th, #main ul {
	
}
#main dd, #main ol, #main p, #main ul {
	
}
#main {
	
}
.block {
	border:1px solid #DDDDDD;
}
.block.open {
	border-bottom:0 none;
}
.block h2 {
	margin:0;
	padding:2px;
}
.block h2 a {
	background-repeat:no-repeat;
	display:block;
	height:25px;
}
.block span {
	display:none;
}
.block p {
	margin:0 10px 10px;
}
.block p.image {
	margin:0 0 10px 2px;
}
.block table {
	margin:0;
}
.column {
	float:left;
	margin:0 7px 14px;
}
.column .column {
	margin-bottom:0;
}
.column.first {
	clear:left;
	margin-left:0;
}
.column.last {
	margin-right:0;
	padding-left:0;
}
.column.span1 {
	width:182px;
}
.column.span1.last {
	width:183px;
}
.column.span2 {
	min-height:25em;
	width:405px;
}
html > body .column.span2 {
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	padding:0 20px;
	width:390px;
}
.column.span3 {
	width:579px;
}
html > body .column.span3.last {
	border-left:1px solid #DDDDDD;
	min-height:25em;
	padding-left:20px;
	width:585px;
}
.constrain {
	background:none repeat scroll 0 0 #FFFFFF;
	clear:both;
	font-size:12px;
	margin:0 auto;
	width:780px;
}
.delete {
	color:#007700;
	cursor:pointer;
}
.hidden {
	display:none;
}
.listings th {
	white-space:nowrap;
}
.no-pad {
	padding:0;
}
.sidebar {
	width:160px !important;
}
.sidebar h3 {
	margin:0 0 0.5em;
}
.sidebar ul.subnav {
	margin-right:10px;
	margin-top:4em !important;
}
.section-color {
	color:#00853F;
}
.testimonial {
	margin:0 0 20px;
}
.testimonial cite {
	display:block;
	font-style:normal;
	font-weight:bold;
	text-align:right;
}
.testimonial div {
	font-style:italic;
}
.upper {
	text-transform:uppercase;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
* html .clearfix {
	height:1%;
}




.pad-right {
	padding-right:1em;
}

